.App {
  text-align: center;
}
/*Component giving time and date*/
.time{
  margin-top:1rem;
  font-size: 21px;
}
.titleSection{
  margin-top: 1rem;
  margin-bottom: 1rem;
}
/*Images effects inside the tiles*/
.grow{ 
  transition: all .4s ease-out;
}
.grow:hover {
   transform: scale(1.1); 
}
.imageoverflow{
  overflow: hidden;
}

/*Component title*/
.titlecomp{
  margin-top: 1rem;
}

/*Scoreboard*/
.table{
  width: 100%;
  border: 2px solid gold;
  border-radius: 4px;
}

/*Api component, margins between items*/
.apiRendering{
  margin-top: 4rem;
}